.DS_Store
/dist
/build
dev-copy.py
/hide_code/__pycache__/*
/hide_code/*.pyc
hide_code.egg*
hide_code.sublime-project
hide_code.sublime-workspace
/hide_code/test/*.ipynb
/hide_code/test/.ipynb_checkpoints/*
*.iml
*.idea
*ipynb
*.pdf
*.html